* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
hr {
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}
body {
  color: #e6e6e6;
  font-size: 16px;
  line-height: 1.4;
}

.flex {
  display: flex;
  align-items: center;
}

.module {
  display: flex;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  p {
    margin-top: 10px;
  }
}

a {
  color: #abb8ba;
}
.module1 {
  padding-top: 40px;
  background: #002559;
}

.module2 {
  background: #002b6d;
}

.module3 {
  background: #00317d;
}

.module4 {
  background: #00378d;
  padding-bottom: 40px;
}

.module5 {
  background: #003da0;
}

.module6 {
  background: #0043ae;
}

.module-title-wrapper {
  flex: 0 0 180px;
}

.module-title {
  width: 2em;
  border: 2px solid #ffffff;
  padding: 0.4em;
  margin: 0 auto;
}

.person {
  width: 35%;
  text-align: center;
  border-right: 1px solid #ffffff;

  .name {
    font-size: 50px;
    font-weight: bolder;
  }
  .job {
    font-size: 24px;
  }
}

.contact {
  flex-wrap: wrap;
  flex: 1 0 0;
  padding: 0 60px;
  p {
    width: 180px;
    margin: 4px 0;
  }
}

.company-list {
  .date {
    font-size: 18px;
    // padding-top: 10px;
  }
  .company {
    margin-top: 10px;
    font-size: 18px;
  }
  .company-name {
    width: 260px;
  }
  .company-work {
    font-size: 14px;
    padding: 10px 0;
  }
}

.skill-list {
  padding: 20px 0;
}

.project-name {
  font-size: 20px;
  padding: 10px 0;
}

footer {
  margin: auto;
  width: 1000px;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #0043ae;
  display: flex;
  justify-content: space-around;
  a {
    color: #e6e6e6;
  }
}
.download {
  position: fixed;
  left: 0;
  top: 40%;
  .btn {
    display: block;
    height: 150px;
    width: 2em;
    padding: 1em 0.5em;
    font-size: 20px;
    background: #0043ae;
    color: #e6e6e6;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
  }
}

@media print {
  body {
    color: #000;
  }
  .module {
    border-bottom: 1px solid #000;
  }
  footer {
    display: none;
  }
  .no-prinf{
    display: none;
  }
}
